/* navbar.css */

/* Entire header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Set the header width to 100% */
    padding: 10px;
    background-color: #333;
    color: white;
    height: 70px; /* Set a fixed height for the header */
    position: relative; /* Position relative for the header */
  }
  
  /* Logo styles */
  header img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  
  /* Navigation items */
  ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  li {
    margin: 0 10px;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: rgb(115, 158, 122);
  }
  
  /* Profile icon styles */
  header img[alt="Home"] {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  
  /* Center the h1 within the header */
  h1 {
    margin: 0;
    position: absolute; /* Position absolutely within the header */
    left: 50%; /* Set the left position to 50% */
    transform: translateX(-50%); /* Adjust to center horizontally */
  }
  
  /* Media query for mobile devices */
  @media (max-width: 768px) {
    header {
      height: auto; /* Change the height to 'auto' for responsive height */
      flex-direction: column; /* Arrange items in a column for mobile */
      text-align: center; /* Center the text */
    }
  
    h1 {
      position: static; /* Return the h1 position to 'static' for normal flow */
      transform: none; /* Remove the transform */
      margin-bottom: 10px; /* Add some space below the h1 */
    }
  
    header img {
      margin: 10px 0; /* Adjust margin for logo and profile image */
    }
  }