/* Default styles for the bongo card */
.bongo-card {
  border: rgb(36, 21, 5) solid 2px;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  /* background-color: rgb(170, 143, 92); */
  background: linear-gradient(to top right, rgb(114, 96, 61), rgb(170, 143, 92));
  max-width: 280px;
}

.bongo-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bongo-card a {
  text-decoration: none;
  color: #333;
}

.bongo-card a:hover {
  text-decoration: underline;
}

.bongo-pic {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  border: rgb(36, 21, 5) solid 2px;
}

.bongo-card p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.bongo-card div {
  margin-bottom: 10px;
}

.bongo-card span {
  font-weight: bold;
  font-size: 16px;
}

.bongo-card button {
  padding: 12px 20px;
  background-color: #013b01;
  color: #fff;
  border: none;
  border-radius: 120px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 30px;
}

.bongo-card button:hover {
  background-color: #16941c;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .bongo-card {
    max-width: 90%;
  }
}